<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">Flask Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('post_management.posts') }}">Posts</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_management.add_user') }}">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_management.name') }}">Name</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_management.profile', name='Yunna') }}">Profile</a>
              </li>
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user_management.add_user') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
        <form method="POST" action="{{ url_for('search')}} " class="d-flex" role="search">
          {# same as crsf_token #}
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_input" required>
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>