{% extends "base.html" %}

{% block content %}

<h4>Search Result</h4>
<br><br>
{% if posts %}
    {% for post in posts %}
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <h4>{{ post.title }}</h4>
            <p class="mt-4 text-truncate">{{ post.content }}</p>
            <p class="small text-muted">
                <span><a href="{{ url_for('post_management.post', id=post.id)}}" class="text-decoration-none">View</a></span>
                <span class="float-end">By: {{ post.user.name }} | {{ post.date_posted }}</span>
            </p>
        </div>
    {% endfor %}
{% else %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h5 class="text-center fst-italic">Sorry, your search term: <strong>{{ search_input }}</strong> was not found ...</h5>
    </div>
{% endif %}

{% endblock %}