{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h2>Blog Posts</h2>

<a href="{{ url_for('posts')}}" class="float-end btn btn-secondary">Back</a>

<a href="{{ url_for('delete_post', id=post.id )}}" class="me-3 float-end btn btn-danger">Delete</a>

<a href="{{ url_for('update_post', id=post.id )}}" class="me-3 float-end btn btn-success">Update</a>

<br><br>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h4>{{ post.title }}</h4>
    <p class="mt-4">{{ post.content }}</p>
    <p class="small text-muted text-end">By: {{ post.author }} | {{ post.date_posted }}
</div>

{% endblock %}