{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h2>Blog Posts</h2>

<a href="{{ url_for('post_management.posts')}}" class="float-end btn btn-secondary">Back</a>

{% if current_user.id == post.user_id %}

    <a href="{{ url_for('post_management.delete_post', id=post.id )}}" class="me-3 float-end btn btn-danger">Delete</a>

    <a href="{{ url_for('post_management.update_post', id=post.id )}}" class="me-3 float-end btn btn-success">Update</a>

{% endif %}

<br><br>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h4>{{ post.title }}</h4>
    <p class="mt-4">{{ post.content|safe }}</p>
    <p class="small text-muted text-end">By: {{ post.user.name }} | {{ post.date_posted }}
    <div class="row small fst-italic text-body-secondary text-end clearfix">
        <div class="col-sm-2">
            {% if post.user.profile_pic %}
                <img src="{{ url_for('static', filename='images/' + post.user.profile_pic) }}" class="img-fluid rounded" width="150" height="150">
            {% else %}
                <img src="{{ url_for('static', filename='images/user.png') }}" class="img-fluid rounded-start" width="150" height="150">
            {% endif %}
        </div>
        <span class="float-end col-sm-10">{{ post.user.about_author }}</span>
    </div>
</div>

{% endblock %}